
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


  <display-name>Archetype Created Web Application</display-name>
  
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>org.list_of_deals.controller.CharsetFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>org.list_of_deals.controller.IndexServlet</servlet-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/ind</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>org.list_of_deals.controller.EditServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>jsonResponse</servlet-name>
    <servlet-class>org.list_of_deals.controller.JsonRespServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>jsonResponse</servlet-name>
    <url-pattern>/jsonResponse</url-pattern>
  </servlet-mapping>

</web-app>
